# Default settings for the pipeline stages.
# These can be overridden in the stage settings below.

defaults:
    # Number of CPU cores to use for the task
    cores: 1
    # Maximum memory in gigabytes for a cluster job
    mem: 4
    # VLSCI account for quota
    account: vh83
    queue: all
    # Maximum allowed running time on the cluster in Hours:Minutes
    walltime: '1:00'
    # Load modules for running a command on the cluster.
    modules:
    # Run on the local machine (where the pipeline is run)
    # instead of on the cluster. False means run on the cluster.
    local: False

# Stage-specific settings. These override the defaults above.
# Each stage must have a unique name. This name will be used in
# the pipeine to find the settings for the stage.

stages:
    # Align paired end FASTQ files to the reference
    align_bwa:
        cores: 2
        walltime: '01:00'
        mem: 8
        modules:
            - 'bwa/0.7.12'
            - 'samtools/1.3.1'

    # Sort the BAM file with Picard
    sort_bam_picard:
        walltime: '10:00'
        mem: 30
        modules:
            - 'picard/2.9.2'

    # Mark duplicate reads in the BAM file with Picard
    mark_duplicates_picard:
        walltime: '10:00'
        mem: 30
        modules:
            - 'picard/2.9.2'

    # Generate chromosome intervals using GATK
    chrom_intervals_gatk:
        cores: 8
        walltime: '10:00'
        mem: 30
        modules:
            - 'gatk/3.7'

    # Local realignment using GATK
    local_realignment_gatk:
        walltime: '10:00'
        mem: 30
        modules:
            - 'gatk/3.7'

    # Local realignment using GATK
    base_recalibration_gatk:
        walltime: '10:00'
        mem: 30
        modules:
            - 'gatk/3.7'

    # Print reads using GATK
    print_reads_gatk:
        walltime: '10:00'
        mem: 30
        modules:
            - 'gatk/3.7'

    # Call variants using GATK
    call_variants_gatk:
        cores: 8
        walltime: '10:00'
        mem: 30
        modules:
            - 'gatk/3.7'

    # Combine G.VCF files for all samples using GATK
    combine_gvcf_gatk:
        cores: 1
        walltime: '10:00'
        mem: 30
        modules:
            - 'gatk/3.7'

    # Genotype G.VCF files using GATK
    genotype_gvcf_gatk:
        cores: 8
        walltime: '10:00'
        mem: 30
        modules:
            - 'gatk/3.7'

    # SNP recalibration using GATK
    snp_recalibrate_gatk:
        cores: 8
        walltime: '10:00'
        mem: 30
        modules:
            - 'gatk/3.7'

    # INDEL recalibration using GATK
    indel_recalibrate_gatk:
        cores: 8
        walltime: '10:00'
        mem: 30
        modules:
            - 'gatk/3.7'

    # Apply SNP recalibration using GATK
    apply_snp_recalibrate_gatk:
        cores: 8
        walltime: '10:00'
        mem: 30
        modules:
            - 'gatk/3.7'

    # Apply INDEL recalibration using GATK
    apply_indel_recalibrate_gatk:
        cores: 8
        walltime: '10:00'
        mem: 30
        modules:
            - 'gatk/3.7'

    # run VEP annotation
    apply_vep:
        cores: 1
        walltime: '10:00'
        modules:
            - 'vep/90'




# Location of genome for mapping
ref_grch37: /projects/vh83/reference/genomes/b37/bwa_0.7.12_index/human_g1k_v37_decoy.fasta

#project specific variables

#undr_rover specific files and settings
coord_file: /projects/vh83/reference/brastrap_specific/BRA-STRAP_621717_100.final.roverfile_4cols_g37.bed 
primer_file: /projects/vh83/reference/brastrap_specific/BRA-STRAP_621717_100.final.undrroverfile.txt
proportionthresh: 0.2
absthresh: 20
maxvariants: 20

#bam_clipper
primer_bedpe_file: /projects/vh83/reference/brastrap_specific/BRA-STRAP_621717_100.final.bamclipper.bedpe.txt

#bamutil bamstats
#fragment_bed:

#bedtools multicov
#target_bed:

#GATK and Picard
interval_file:

# general m3.massive paths for re-used variables
dbsnp_hg19: /projects/vh83/reference/genomes/b37/accessory_files/dbsnp_138.b37.vcf
mills_hg19: /projects/vh83/reference/genomes/b37/accessory_files/Mills_and_1000G_gold_standard.indels.b37.vcf
one_k_g_indels: /projects/vh83/reference/genomes/b37/accessory_files/1000G_phase1.indels.b37.vcf
#one_k_g_snps: /projects/vh83/reference/genomes/b37/accessory_files/
one_k_g_highconf_snps: /projects/vh83/reference/genomes/b37/accessory_files/1000G_phase1.snps.high_confidence.b37.vcf
hapmap: /projects/vh83/reference/genomes/b37/accessory_files/hapmap_3.3.b37.vcf

#SNPEFF config options
#snpeff_conf:
#snpeff_path:

#executable paths
bamclipper: /home/jste0021/scripts/bamclipper/bamclipper.sh 
#vt_path:

#vcfanno
#annolua:
#anno:

#Homopolymer annotation using bedtools?
#hrfile:

#--offine command line argument for VEP
other_vep: /usr/local/vep/90/ensembl-vep/cache

#currently unknown stuff
#vt_path: /vlsci/VR0002/kmahmood/Programs/vt/vt/vt


# The input FASTQ files.

fastqs:
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0001-C01-BS000003_S291_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0001-C01-BS000003_S291_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0001-D02-BS000012_S308_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0001-D02-BS000012_S308_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0001-A07-BS000049_S385_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0001-A07-BS000049_S385_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0001-H07-BS000056_S392_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0001-H07-BS000056_S392_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0001-G08-BS000063_S407_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0001-G08-BS000063_S407_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_WM_0016-H01-BS000190_S103_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_WM_0016-H01-BS000190_S103_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0003-D03-BS000212_S60_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0003-D03-BS000212_S60_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0003-E04-BS000221_S85_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0003-E04-BS000221_S85_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0003-A08-BS000249_S177_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0003-A08-BS000249_S177_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0003-D11-BS000276_S252_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0003-D11-BS000276_S252_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0004-H01-BS000296_S304_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0004-H01-BS000296_S304_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0005-B03-BS000402_S522_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0005-B03-BS000402_S522_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0005-G07-BS000439_S591_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0005-G07-BS000439_S591_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0005-H07-BS000440_S592_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0005-H07-BS000440_S592_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0006-A02-BS000489_S41_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0006-A02-BS000489_S41_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0006-G04-BS000511_S95_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0006-G04-BS000511_S95_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0006-A05-BS000513_S113_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0006-A05-BS000513_S113_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run2/BST_WM_0007-G12-BS000513_R_S95_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run2/BST_WM_0007-G12-BS000513_R_S95_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0006-G05-BS000519_S119_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0006-G05-BS000519_S119_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0006-A06-BS000521_S137_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0006-A06-BS000521_S137_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0006-F11-BS000566_S262_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0006-F11-BS000566_S262_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run2/BST_WM_0007-A10-BS000649_S73_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run2/BST_WM_0007-A10-BS000649_S73_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run2/BST_WM_0007-D12-BS000668_S92_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run2/BST_WM_0007-D12-BS000668_S92_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run2/BST_WM_0008-C08-BS000731_S155_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run2/BST_WM_0008-C08-BS000731_S155_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run2/BST_WM_0008-D09-BS000740_S164_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run2/BST_WM_0008-D09-BS000740_S164_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run2/BST_WM_0009-H01-BS000776_S200_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run2/BST_WM_0009-H01-BS000776_S200_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run2/BST_WM_0009-H02-BS000784_S208_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run2/BST_WM_0009-H02-BS000784_S208_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run2/BST_WM_0009-H08-BS000832_S256_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run2/BST_WM_0009-H08-BS000832_S256_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run2/BST_WM_0011-E06-BS001005_S429_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run2/BST_WM_0011-E06-BS001005_S429_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run2/BST_WM_0011-D09-BS001028_S452_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run2/BST_WM_0011-D09-BS001028_S452_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_WM_0016-E07-BS001055_S148_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_WM_0016-E07-BS001055_S148_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run2/BST_WM_0012-E02-BS001069_S493_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run2/BST_WM_0012-E02-BS001069_S493_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run2/BST_WM_0013-G09-BS001223_S647_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run2/BST_WM_0013-G09-BS001223_S647_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_WM_0016-H08-BS001249_S159_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_WM_0016-H08-BS001249_S159_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0015-H01-BS001352_S8_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0015-H01-BS001352_S8_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0015-F06-BS001390_S126_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0015-F06-BS001390_S126_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0015-H08-BS001408_S176_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run1/BST_WM_0015-H08-BS001408_S176_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run4/BST_MD_0001-G03-BS002418_S23_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run4/BST_MD_0001-G03-BS002418_S23_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0003-B11-BS002658_S253_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0003-B11-BS002658_S253_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0004-C01-BS002671_S270_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0004-C01-BS002671_S270_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0004-D01-BS002672_S271_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0004-D01-BS002672_S271_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0004-E05-BS002704_S304_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0004-E05-BS002704_S304_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0004-G07-BS002717_S322_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0004-G07-BS002717_S322_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0004-A08-BS002719_S324_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0004-A08-BS002719_S324_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0004-F09-BS002732_S337_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0004-F09-BS002732_S337_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0004-G09-BS002733_S338_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0004-G09-BS002733_S338_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0004-D10-BS002738_S343_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0004-D10-BS002738_S343_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0005-A04-BS002779_S388_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0005-A04-BS002779_S388_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0005-G05-BS002793_S402_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0005-G05-BS002793_S402_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0006-D06-BS002889_S503_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0006-D06-BS002889_S503_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0006-B08-BS002903_S517_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0006-B08-BS002903_S517_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0007-G07-BS002903_R_S610_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0007-G07-BS002903_R_S610_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0006-F11-BS002930_S545_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0006-F11-BS002930_S545_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0007-C02-BS002947_S566_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0007-C02-BS002947_S566_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0007-E05-BS002973_S592_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0007-E05-BS002973_S592_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0007-C06-BS002978_S598_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/run3/BST_MD_0007-C06-BS002978_S598_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A02-BS002732-BST-MD0004-F09_S489_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A02-BS002732-BST-MD0004-F09_S489_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A03-BS002947-BST-MD0007-C02_S497_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A03-BS002947-BST-MD0007-C02_S497_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A04-BS000212-BST-WM0003-D03_S505_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A04-BS000212-BST-WM0003-D03_S505_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A05-BS000489-BST-WM0006-A02_S513_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A05-BS000489-BST-WM0006-A02_S513_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A06-BS000731-BST-WM0008-C08_S521_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A06-BS000731-BST-WM0008-C08_S521_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A08-BS002733-BST-MD0004-G09_S537_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A08-BS002733-BST-MD0004-G09_S537_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A09-BS002973-BST-MD0007-E05_S545_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A09-BS002973-BST-MD0007-E05_S545_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A10-BS000221-BST-WM0003-E04_S553_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A10-BS000221-BST-WM0003-E04_S553_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A11-BS000511-BST-WM0006-G04_S561_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A11-BS000511-BST-WM0006-G04_S561_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A12-BS000740-BST-WM0008-D09_S569_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A12-BS000740-BST-WM0008-D09_S569_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-B01-BS002418-BST-MD0001-G03_S482_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-B01-BS002418-BST-MD0001-G03_S482_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-B02-BS002733-BST-MD0004-G09_S490_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-B02-BS002733-BST-MD0004-G09_S490_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-B03-BS002973-BST-MD0007-E05_S498_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-B03-BS002973-BST-MD0007-E05_S498_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-B04-BS000221-BST-WM0003-E04_S506_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-B04-BS000221-BST-WM0003-E04_S506_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-B05-BS000511-BST-WM0006-G04_S514_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-B05-BS000511-BST-WM0006-G04_S514_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-B06-BS000740-BST-WM0008-D09_S522_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-B06-BS000740-BST-WM0008-D09_S522_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-B07-BS002658-BST-MD0003-B11_S530_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-B07-BS002658-BST-MD0003-B11_S530_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-B08-BS002738-BST-MD0004-D10_S538_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-B08-BS002738-BST-MD0004-D10_S538_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-B09-BS002978-BST-MD0007-C06_S546_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-B09-BS002978-BST-MD0007-C06_S546_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-B10-BS000249-BST-WM0003-A08_S554_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-B10-BS000249-BST-WM0003-A08_S554_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-B11-BS000513-BST-WM0006-A05_S562_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-B11-BS000513-BST-WM0006-A05_S562_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-B12-BS000784-BST-WM0009-H02_S570_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-B12-BS000784-BST-WM0009-H02_S570_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-C01-BS002658-BST-MD0003-B11_S483_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-C01-BS002658-BST-MD0003-B11_S483_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-C02-BS002738-BST-MD0004-D10_S491_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-C02-BS002738-BST-MD0004-D10_S491_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-C03-BS002978-BST-MD0007-C06_S499_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-C03-BS002978-BST-MD0007-C06_S499_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-C04-BS000249-BST-WM0003-A08_S507_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-C04-BS000249-BST-WM0003-A08_S507_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-C05-BS000513-BST-WM0006-A05_S515_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-C05-BS000513-BST-WM0006-A05_S515_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-C06-BS000784-BST-WM0009-H02_S523_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-C06-BS000784-BST-WM0009-H02_S523_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-C07-BS002671-BST-MD0004-C01_S531_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-C07-BS002671-BST-MD0004-C01_S531_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-C08-BS002779-BST-MD0005-A04_S539_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-C08-BS002779-BST-MD0005-A04_S539_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-C09-BS000003-BST-WM0001-C01_S547_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-C09-BS000003-BST-WM0001-C01_S547_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-C10-BS000276-BST-WM0003-D11_S555_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-C10-BS000276-BST-WM0003-D11_S555_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-C11-BS000519-BST-WM0006-G05_S563_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-C11-BS000519-BST-WM0006-G05_S563_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-C12-BS001005-BST-WM0011-E06_S571_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-C12-BS001005-BST-WM0011-E06_S571_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-D01-BS002671-BST-MD0004-C01_S484_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-D01-BS002671-BST-MD0004-C01_S484_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-D02-BS002779-BST-MD0005-A04_S492_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-D02-BS002779-BST-MD0005-A04_S492_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-D03-BS000003-BST-WM0001-C01_S500_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-D03-BS000003-BST-WM0001-C01_S500_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-D04-BS000276-BST-WM0003-D11_S508_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-D04-BS000276-BST-WM0003-D11_S508_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-D05-BS000519-BST-WM0006-G05_S516_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-D05-BS000519-BST-WM0006-G05_S516_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-D06-BS001005-BST-WM0011-E06_S524_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-D06-BS001005-BST-WM0011-E06_S524_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-D07-BS002672-BST-MD0004-D01_S532_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-D07-BS002672-BST-MD0004-D01_S532_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-D08-BS002793-BST-MD0005-G05_S540_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-D08-BS002793-BST-MD0005-G05_S540_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-D09-BS000012-BST-WM0001-D02_S548_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-D09-BS000012-BST-WM0001-D02_S548_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-D10-BS000296-BST-WM0004-H01_S556_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-D10-BS000296-BST-WM0004-H01_S556_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-D11-BS000521-BST-WM0006-A06_S564_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-D11-BS000521-BST-WM0006-A06_S564_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-D12-BS001028-BST-WM0011-D09_S572_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-D12-BS001028-BST-WM0011-D09_S572_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-E01-BS002672-BST-MD0004-D01_S485_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-E01-BS002672-BST-MD0004-D01_S485_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-E02-BS002793-BST-MD0005-G05_S493_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-E02-BS002793-BST-MD0005-G05_S493_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-E03-BS000012-BST-WM0001-D02_S501_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-E03-BS000012-BST-WM0001-D02_S501_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-E04-BS000296-BST-WM0004-H01_S509_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-E04-BS000296-BST-WM0004-H01_S509_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-E05-BS000521-BST-WM0006-A06_S517_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-E05-BS000521-BST-WM0006-A06_S517_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-E06-BS001028-BST-WM0011-D09_S525_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-E06-BS001028-BST-WM0011-D09_S525_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-E07-BS002704-BST-MD0004-E05_S533_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-E07-BS002704-BST-MD0004-E05_S533_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-E08-BS002889-BST-MD0006-D06_S541_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-E08-BS002889-BST-MD0006-D06_S541_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-E09-BS000049-BST-WM0001-A07_S549_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-E09-BS000049-BST-WM0001-A07_S549_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-E10-BS000402-BST-WM0005-B03_S557_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-E10-BS000402-BST-WM0005-B03_S557_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-E11-BS000566-BST-WM0006-F11_S565_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-E11-BS000566-BST-WM0006-F11_S565_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-E12-BS001069-BST-WM0012-E02_S573_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-E12-BS001069-BST-WM0012-E02_S573_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-F01-BS002704-BST-MD0004-E05_S486_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-F01-BS002704-BST-MD0004-E05_S486_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-F02-BS002889-BST-MD0006-D06_S494_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-F02-BS002889-BST-MD0006-D06_S494_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-F03-BS000049-BST-WM0001-A07_S502_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-F03-BS000049-BST-WM0001-A07_S502_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-F04-BS000402-BST-WM0005-B03_S510_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-F04-BS000402-BST-WM0005-B03_S510_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-F05-BS000566-BST-WM0006-F11_S518_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-F05-BS000566-BST-WM0006-F11_S518_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-F06-BS001069-BST-WM0012-E02_S526_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-F06-BS001069-BST-WM0012-E02_S526_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-F07-BS002717-BST-MD0004-G07_S534_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-F07-BS002717-BST-MD0004-G07_S534_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-F08-BS002903-BST-MD0006-B08_S542_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-F08-BS002903-BST-MD0006-B08_S542_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-F09-BS000056-BST-WM0001-H07_S550_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-F09-BS000056-BST-WM0001-H07_S550_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-F10-BS000439-BST-WM0005-G07_S558_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-F10-BS000439-BST-WM0005-G07_S558_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-F11-BS000649-BST-WM0007-A10_S566_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-F11-BS000649-BST-WM0007-A10_S566_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-F12-BS001223-BST-WM0013-G09_S574_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-F12-BS001223-BST-WM0013-G09_S574_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-G01-BS002717-BST-MD0004-G07_S487_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-G01-BS002717-BST-MD0004-G07_S487_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-G02-BS002903-BST-MD0006-B08_S495_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-G02-BS002903-BST-MD0006-B08_S495_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-G03-BS000056-BST-WM0001-H07_S503_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-G03-BS000056-BST-WM0001-H07_S503_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-G04-BS000439-BST-WM0005-G07_S511_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-G04-BS000439-BST-WM0005-G07_S511_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-G05-BS000649-BST-WM0007-A10_S519_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-G05-BS000649-BST-WM0007-A10_S519_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-G06-BS001223-BST-WM0013-G09_S527_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-G06-BS001223-BST-WM0013-G09_S527_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-G07-BS002719-BST-MD0004-A08_S535_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-G07-BS002719-BST-MD0004-A08_S535_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-G08-BS002930-BST-MD0006-F11_S543_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-G08-BS002930-BST-MD0006-F11_S543_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-G09-BS000063-BST-WM0001-G08_S551_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-G09-BS000063-BST-WM0001-G08_S551_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-G10-BS000440-BST-WM0005-H07_S559_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-G10-BS000440-BST-WM0005-H07_S559_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-G11-BS000668-BST-WM0007-D12_S567_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-G11-BS000668-BST-WM0007-D12_S567_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-G12-BS001390-BST-WM0015-F06_S575_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-G12-BS001390-BST-WM0015-F06_S575_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-H01-BS002719-BST-MD0004-A08_S488_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-H01-BS002719-BST-MD0004-A08_S488_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-H02-BS002930-BST-MD0006-F11_S496_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-H02-BS002930-BST-MD0006-F11_S496_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-H03-BS000063-BST-WM0001-G08_S504_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-H03-BS000063-BST-WM0001-G08_S504_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-H04-BS000440-BST-WM0005-H07_S512_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-H04-BS000440-BST-WM0005-H07_S512_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-H05-BS000668-BST-WM0007-D12_S520_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-H05-BS000668-BST-WM0007-D12_S520_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-H06-BS001390-BST-WM0015-F06_S528_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-H06-BS001390-BST-WM0015-F06_S528_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-H07-BS002732-BST-MD0004-F09_S536_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-H07-BS002732-BST-MD0004-F09_S536_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-H08-BS002947-BST-MD0007-C02_S544_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-H08-BS002947-BST-MD0007-C02_S544_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-H09-BS000212-BST-WM0003-D03_S552_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-H09-BS000212-BST-WM0003-D03_S552_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-H10-BS000489-BST-WM0006-A02_S560_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-H10-BS000489-BST-WM0006-A02_S560_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-H11-BS000731-BST-WM0008-C08_S568_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-H11-BS000731-BST-WM0008-C08_S568_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0002-A02-BS001249-WM3323_S585_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0002-A02-BS001249-WM3323_S585_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0002-B01-BS001055-BST-WM0011-G12_S578_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0002-B01-BS001055-BST-WM0011-G12_S578_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0002-C01-BS001055-BST-WM0016-E07_S579_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0002-C01-BS001055-BST-WM0016-E07_S579_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0002-D01-BS000776-WM2093_S580_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0002-D01-BS000776-WM2093_S580_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0002-E01-BS000832-WM2214_S581_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0002-E01-BS000832-WM2214_S581_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0002-F01-BS001352-WM3593_S582_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0002-F01-BS001352-WM3593_S582_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0002-G01-BS001408-WM3732_S583_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0002-G01-BS001408-WM3732_S583_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0002-H01-BS000190-WM0516_S584_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0002-H01-BS000190-WM0516_S584_L001_R2_001.fastq.gz



pipeline_id: 'hiplex'
