# Default settings for the pipeline stages.
# These can be overridden in the stage settings below.

defaults:
    # Number of CPU cores to use for the task
    cores: 1
    # Maximum memory in gigabytes for a cluster job
    mem: 4
    # VLSCI account for quota
    account: vh83
    queue: all
    # Maximum allowed running time on the cluster in Hours:Minutes
    walltime: '01:00'
    # Load modules for running a command on the cluster.
    modules:
    # Run on the local machine (where the pipeline is run)
    # instead of on the cluster. False means run on the cluster.
    local: False

# Stage-specific settings. These override the defaults above.
# Each stage must have a unique name. This name will be used in
# the pipeine to find the settings for the stage.

stages:
    # Align paired end FASTQ files to the reference
    align_bwa:
        cores: 2
        walltime: '01:00'
        mem: 8
        modules:
            - 'bwa/0.7.12'
            - 'samtools/1.3.1'

    apply_undr_rover:
        cores: 1
        walltime: '01:00'
        mem: 8
        modules:
            - 'gatk/3.7'

    # Sort the BAM file with Picard
    sort_bam_picard:
        walltime: '01:00'
        mem: 30
        modules:
            - 'picard/2.9.2'

    # Mark duplicate reads in the BAM file with Picard
    mark_duplicates_picard:
        walltime: '01:00'
        mem: 30
        modules:
            - 'picard/2.9.2'

    # Generate chromosome intervals using GATK
    chrom_intervals_gatk:
        cores: 8
        walltime: '01:00'
        mem: 30
        modules:
            - 'gatk/3.7'

    # Local realignment using GATK
    local_realignment_gatk:
        walltime: '01:00'
        mem: 30
        modules:
            - 'gatk/3.7'

    # Local realignment using GATK
    base_recalibration_gatk:
        walltime: '01:00'
        mem: 30
        modules:
            - 'gatk/3.7'

    # Print reads using GATK
    print_reads_gatk:
        walltime: '01:00'
        mem: 30
        modules:
            - 'gatk/3.7'

    # Call variants using GATK
    call_variants_gatk:
        cores: 8
        walltime: '01:00'
        mem: 30
        modules:
            - 'gatk/3.7'

    # Combine G.VCF files for all samples using GATK
    combine_gvcf_gatk:
        cores: 1
        walltime: '01:00'
        mem: 30
        modules:
            - 'gatk/3.7'

    # Genotype G.VCF files using GATK
    genotype_gvcf_gatk:
        cores: 8
        walltime: '01:00'
        mem: 30
        modules:
            - 'gatk/3.7'

    # run VEP annotation
    apply_vep:
        cores: 1
        walltime: '01:00'
        modules:
            - 'vep/90'

    primary_bam:
        cores: 1
        walltime: '01:00'
        modules:
            - 'samtools/1.3.1'

    index_sort_bam_picard:
        walltime: '01:00'
        mem: 30
        modules:
            - 'picard/2.9.2'
            - 'samtools/1.3.1'

    clip_bam:
        walltime: '01:00'
        mem: 30
        modules:
            - 'samtools/1.3.1'
            - 'gnuparallel/20160822'

    call_haplotypecaller_gatk:
        walltime: '01:00'
        mem: 30
        modules:
            - 'gatk/3.7'

    variant_annotator_gatk:
        walltime: '01:00'
        mem: 30
        modules:
            - 'gatk/3.7'

    apply_variant_filtration_gatk:
        walltime: '01:00'
        mem: 30
        modules:
            - 'gatk/3.7'

    intersect_bed:
        walltime: '01:00'
        mem: 30
        modules:
            - 'bedtools/2.26.0'        

    coverage_bed:
        walltime: '01:00'
        mem: 30
        modules:
            - 'bedtools/2.26.0'
    
    genome_reads:
        walltime: '01:00'
        mem: 30
        modules:
            - 'samtools/1.3.1'
    
    target_reads:
        walltime: '01:00'
        mem: 30
        modules:
            - 'samtools/1.3.1'
    
    total_reads:
        walltime: '01:00'
        mem: 30
        modules:
            - 'samtools/1.3.1'

    generate_stats:
        walltime: '01:00'
        mem: 32
        modules:
            - 'R/3.4.3'


# Location of genome for mapping
ref_grch37: temp.fasta

#project specific variables

#undr_rover specific files and settings
coord_file: temp_coord.txt 
primer_file: temp_primer.txt
proportionthresh: 0.2
absthresh: 20
maxvariants: 20

#bam_clipper
primer_bedpe_file: /projects/vh83/reference/brastrap_specific/BRA-STRAP_621717_100.final.bamclipper.bedpe.txt

#bamutil bamstats
fragment_bed:

#bedtools multicov
target_bed:

#GATK and Picard
interval_file: temp_coord.bed

# general m3.massive paths for re-used variables
dbsnp_hg19: /projects/vh83/reference/genomes/b37/accessory_files/dbsnp_138.b37.vcf
mills_hg19: /projects/vh83/reference/genomes/b37/accessory_files/Mills_and_1000G_gold_standard.indels.b37.vcf
one_k_g_indels: /projects/vh83/reference/genomes/b37/accessory_files/1000G_phase1.indels.b37.vcf
one_k_g_snps: /projects/vh83/reference/genomes/b37/accessory_files/
one_k_g_highconf_snps: /projects/vh83/reference/genomes/b37/accessory_files/1000G_phase1.snps.high_confidence.b37.vcf
hapmap: /projects/vh83/reference/genomes/b37/accessory_files/hapmap_3.3.b37.vcf

#SNPEFF config options
snpeff_conf:
snpeff_path:

#executable paths
bamclipper: /home/jste0021/scripts/bamclipper/bamclipper.sh 



vt_path:

vcfanno:
annolua:
anno:

#Homopolymer annotation using bedtools?
hrfile:

#--offine command line argument for VEP
other_vep: /usr/local/vep/90/ensembl-vep/cache

#currently unknown stuff
vt_path: /vlsci/VR0002/kmahmood/Programs/vt/vt/vt


# The input FASTQ files.

fastqs:
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A03-BS002947-BST-MD0007-C02_S497_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A03-BS002947-BST-MD0007-C02_S497_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A04-BS000212-BST-WM0003-D03_S505_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A04-BS000212-BST-WM0003-D03_S505_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A05-BS000489-BST-WM0006-A02_S513_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A05-BS000489-BST-WM0006-A02_S513_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A06-BS000731-BST-WM0008-C08_S521_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A06-BS000731-BST-WM0008-C08_S521_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A08-BS002733-BST-MD0004-G09_S537_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A08-BS002733-BST-MD0004-G09_S537_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A09-BS002973-BST-MD0007-E05_S545_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A09-BS002973-BST-MD0007-E05_S545_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A10-BS000221-BST-WM0003-E04_S553_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A10-BS000221-BST-WM0003-E04_S553_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A11-BS000511-BST-WM0006-G04_S561_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A11-BS000511-BST-WM0006-G04_S561_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A12-BS000740-BST-WM0008-D09_S569_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-A12-BS000740-BST-WM0008-D09_S569_L001_R2_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-B01-BS002418-BST-MD0001-G03_S482_L001_R1_001.fastq.gz
    - /projects/vh83/raw_data/brastrap/brastrap_validation_plate1/BST-QC-0001-B01-BS002418-BST-MD0001-G03_S482_L001_R2_001.fastq.gz



pipeline_id: 'hiplex'
